<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louie.coding.dao.CanvasDao">
    <select id="getRecentProjectByUserId" parameterType="java.lang.Long"
            resultMap="projectWithCanvasElementsInfoResultMap">
        select p.id      as p_id,
               p.name    as p_name,
               c.id      as c_name,
               c.width   as c_width,
               c.height  as c_height,
               c.bgColor as c_bgColor,
               s.id      as s_id,
               s.width   as s_width,
               s.height  as s_height,
               s.left    as s_left,
               s.top     as s_top,
               s.fill    as s_fill,
               t.id      as t_id,
               t.content as t_content,
               t.font    as t_font,
               t.color   as t_color,
               t.size    as t_size,
               t.left    as t_left,
               t.top     as t_top,
               i.id      as i_id,
               i.width   as i_width,
               i.height  as i_height,
               i.left    as i_left,
               i.top     as i_top,
               i.url     as i_url
        from t_project p
                 left join t_canvas c on c.projectId = p.id
                 left join t_ele_shape s on s.projectId = p.id
                 left join t_ele_illustration i on i.projectId = p.id
                 left join t_ele_text t on t.projectId = p.id
        where p.userId = #{userId}
        order by p.updateTime desc
        limit 1
    </select>
    <resultMap id="projectWithCanvasElementsInfoResultMap" type="com.louie.coding.entity.Project">
        <!--Project类本身-->
        <constructor>
            <idArg column="p_id" javaType="java.lang.Long"/>
        </constructor>
        <result column="p_name" property="name" javaType="java.lang.String"/>
        <!--canvas-->
        <association property="canvas" javaType="com.louie.coding.entity.Canvas">
            <id property="id" column="c_id"/>
            <result property="width" column="c_width"/>
            <result property="height" column="c_height"/>
            <result property="bgColor" column="c_bgColor"/>
        </association>
        <!--shapes-->
        <collection property="shapes" ofType="com.louie.coding.entity.EleShape">
            <id property="id" column="s_id"/>
            <result property="width" column="s_width"/>
            <result property="height" column="s_height"/>
            <result property="left" column="s_left"/>
            <result property="top" column="s_top"/>
            <result property="fill" column="s_fill"/>
        </collection>
        <!--texts-->
        <collection property="texts" ofType="com.louie.coding.entity.EleText">
            <id property="id" column="t_id"/>
            <result property="content" column="t_content"/>
            <result property="font" column="t_font"/>
            <result property="color" column="t_color"/>
            <result property="size" column="t_size"/>
            <result property="left" column="t_left"/>
            <result property="top" column="t_top"/>
        </collection>
        <!--illustrations-->
        <collection property="illustrations" ofType="com.louie.coding.entity.EleIllustration">
            <id property="id" column="i_id"/>
            <result property="width" column="i_width"/>
            <result property="height" column="i_height"/>
            <result property="left" column="i_left"/>
            <result property="top" column="i_top"/>
            <result property="url" column="i_url"/>
        </collection>
    </resultMap>

    <insert id="addProjectFolder">
        insert into t_project_folder
            (userId, `name`, createTime)
        values (#{userId}, #{name}, #{createTime})
    </insert>
</mapper>