<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louie.coding.dao.FontDao">
    <select id="getFonts" resultType="com.louie.coding.entity.Font">
        select id, name, createTime
        from t_font
    </select>
</mapper>