<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louie.coding.dao.TaskDao">
    <select id="getTasks" parameterType="java.lang.Long" resultType="com.louie.coding.entity.entityResp.TaskResp">
        select t.id,
               `description`,
               t.code,
               if(isnull(ut.completeTime) or isnull(ut.userId), 0, 1) as completed
        from t_task t
                 left join t_user_task ut
                           on t.id = ut.taskId and ut.userId = #{userId}
        # 注意：这里on的第二个条件，写在where中会产生问题。
    </select>
    <select id="getTaskById" parameterType="java.lang.Long" resultType="com.louie.coding.entity.Task">
        select id, description, createTime, valid, code
        from t_task
        where id = #{id}
    </select>
    <insert id="addUserTask" parameterType="com.louie.coding.entity.UserTask">
        insert into t_user_task
            (taskId, userId, completeTime)
        values (#{taskId}, #{userId}, #{completeTime})
    </insert>
    <select id="getUserTaskByTaskIdAndUserId" resultType="com.louie.coding.entity.UserTask">
        select id, taskId, userId, completeTime
        from t_user_task
        where taskId = #{taskId}
          and userId = #{userId}
    </select>
</mapper>